@model HotelManagement.Areas.Dashboard.ViewModels.AccommodationTypesListingModel

@if (Model != null && Model.AccommodationTypes != null && Model.AccommodationTypes.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var accommodationType in Model.AccommodationTypes)
            {
                <tr>
                    <td>
                        @accommodationType.Name
                    </td>
                    <td>
                        @accommodationType.Description
                    </td>
                    <td>
                        <button data-href="@Url.Action("Action", "AccommodationTypes", new { ID = accommodationType.ID })" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-edit mr-1"></i> Edit</button>
                        <button data-href="@Url.Action("Delete", "AccommodationTypes", new { ID = accommodationType.ID })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="fas fa-trash-alt mr-1"></i> Delete</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No records exist.
    </div>
}